* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: rgb(208, 227, 243);
  display: grid;
}

.hero p {
  font-size: 1.2em;
  color: #0F172A;
  text-align: center;
  align-items: center;

}

.hero {
  display: grid;
  margin-top: 10px;
}

.hero h2 {
  font-size: 2.5em;
  color: #0F172A;
  text-align: center;
  align-items: center;
  z-index: +5;
  overflow-y: scroll;
  grid-area: 1/1;

}

.hero img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  grid-area: 1/1;
  z-index: -1;
}

.lod-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.productcard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 15px;
  border-radius: 8px;
  padding: 1em;
  margin: 20px 10px;
}

.productcard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productcard h3 {
  font-size: 1.2em;
  color: #0F172A;
  align-items: center;
  width: 100%;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart button {
  background-color: #fff;
  border: none;
  color: #0F172A;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f1f1f1;
  margin: 20px 25px;
  border-radius: 10px;
}

.categerise-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 60px;
}

.categerise-card {
  display: grid;
}

.data {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: larger;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0990f16c;

}

.data button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.categerise-container img {
  grid-area: 1/1;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.categri-res {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.categerise-card:hover {
  transform: scale(1.05);
  transition: 500ms;
  border: 2px solid #3b82f6;
  border-radius: 8px;
  box-shadow:
    2px 2px 4px #1e3a8a,
    -2px -2px 4px #60a5fa,
    3px 3px 6px #000000;
}

.newsletter-form button:hover {
  background-color: #000;
  transform: translateY(-2px);
}

.hero:hover {
  transition: 500ms;
  border: 2px solid #8297b7;
  box-shadow:
    2px 2px 4px #1e3a8a,
    -2px -2px 4px #60a5fa,
    3px 3px 6px #000000;
  ;
}

.productcard:hover {
  transform: scale(1.05);
  transition: 500ms;
  border: 2px solid #3b82f6;
  box-shadow:
    2px 2px 4px #1e3a8a,
    -2px -2px 4px #60a5fa,
    3px 3px 6px #000000;
  ;
}

.cart button:hover {
  background-color: #3b82f6;
  color: #fff;
  transition: 300ms;
}

.navbar:hover {
  transition: 500ms;
  border: 5px solid;
}

.navbar a:hover,
h1:hover,
button:hover {
  transition: 500ms;
  transform: scale(1.1);
  color: #0F172A;
  text-shadow:
    2px 2px 4px #1e3a8a,
    -2px -2px 4px #60a5fa,
    3px 3px 6px #000000;
}

.navbar input:hover {
  transition: 600ms;
  transform: scale(1.1);
  border: 3px solid #CBD5E1;
}



@media (max-width: 750px) {
  .main-list {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

  .hero h2 {
    font-size: 1.5em;
  }

  .categerise-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

}

@media (max-width: 480px) {
  .second-main-list {
    padding: 0;
    margin: 0;
  }

  .second-main-list a {
    padding: 10px;
    font-size: medium;
  }

  .hero h2 {
    font-size: 1em;
  }
  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input {
    width: 100%;
  }

  .newsletter-form button {
    width: 100%;
  }

}