main {
  background-color: rgb(208, 227, 243);
  display: grid;
  /* grid-column: 1fr 1fr 1fr; */
  grid-area: 1/2;
  
}

.left-sidebar {
  width: 200px;
  padding: 20px;
  background-color: rgba(132, 170, 201, 0.327);
  border-right: 1px solid #e0e0e0;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 15px;
  border: 2px solid black;
  border-radius: 10px;
}

.lod-products{
  grid-column: 2/3;
}

.rating-label {
  display: none;
}

.rating-filter span {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Arial Narrow Bold', sans-serif, italic;
}

.rating-filter h3 {
  font-weight: 800;
  margin-top: 1em;
  font-size: 20px;
}

#cate-name {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.category h3{
  padding-bottom: 10px;
  font-weight: 800;
  margin-top: 1em;
  font-size: 20px;
}

.price-filter h3{
  padding-top: 10px;
  font-weight: 800;
  margin-top: 1em;
  font-size: 20px;
}